<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><a href="/" id="home-icon">TEST SITE</a></h1>
  <div id="nav-menu">
    <a href="fortune.html" class="nav">Fortune</a>
    <a href="random.html" class="nav">Random Number</a>
    <a href="counter.html" class="nav">Page Counter</a>
    <a href="bottles.html" class="nav">99 Bottles of Beer</a>
  </div>

  <%= yield %>

</body>
</html>