<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><a href="/" class="home-icon">TEST SITE</a></h1>
<a href="fortune.html">Fortune</a>
<a href="random.html">Random Number</a>
<a href="counter.html">Page Counter</a>
<a href="bottles.html">99 Bottles of Beer</a>

<%= yield %>

</body>
</html>