<h1>Home</h1>


<h2>How to make a rails app</h2>
<ul>
  <li>Open terminal</li>
  <li>Navigate to your desired folder via the terminal</li>
  <li>Input 'rails new app_name'</li>
  <li>Navigate to your new app folder 'cd app_name'</li>
  <li>Input 'rails generate controller pages' in your terminal to create your controller</li>
  <li>Finally, call 'rails server' to test if your app is running properly</li>
</ul>

<a href="page1.html">page1</a>
<br>
<a href="page2.html">page2</a>
<br>
<a href="talk.html">talk</a>